.admin-home {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  font-family: 'Roboto', sans-serif;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 4rem;
  color: #0D095A;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.dashboard-card h2 {
  font-size: 1.5rem;
  color: #5B8B35;
  margin-bottom: 10px;
}

.dashboard-card p {
  color: #666;
  font-size: 1rem;
  margin: 0;
}

.dashboard-btn {
  background-color: rgb(218, 128, 38);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.dashboard-btn:hover {
  background-color: white;
  border: 1px solid rgb(228, 124, 20);
  color: #555;
}

footer {
  padding: 20px;
  background-color: #0D095A;
  color: white;
  text-align: center;
  margin-top: auto; 
}
